# Python
__pycache__/
*.pyc

# Entornos virtuales
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Perfil persistente de Playwright
11_PERFILES/

# Base de datos SQLite (si la creamos localmente)
*.db

# Logs
*.log